body{
  background-color: #183974;
}

#loginbg {
  margin: auto;
  border-radius: 15px;
  background: white;
  width: 65%;
  height:650px;
}

#logo {
  image:"logo.jpg";
  margin: auto;
  width:15%;
};

#lform{
  font:"Crimson Text";


};